html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --pramary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --primery-section-color: #2f303a;
  --pramary-bacground-color: #e5e5e5;
  --promary-contact-color: #ffffff99;
  --promary-button-bacgriund-color: #f5f4fa;
}

/* bady */
body {
  font-family: Roboto, sans-serif;
  color: var(--pramary-text-color);
  background-color: var(--primery-white-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.contacts {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  display: flex;
  margin-left: auto;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--pramary-text-color);
}
.contacts + .contacts {
  margin-left: 50px;
}
.contacts:hover {
  color: var(--accent-color);
}
.contacts:focus {
  color: var(--accent-color);
}
/* header */
.main-nav {
  display: flex;
  align-items: center;
}
.page-nav {
  margin: 0;
  padding: 0;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  display: flex;
  text-align: center;
}
.page-nav .item + .item {
  margin-left: 50px;
}
.page-header {
  
  background-color: var(--primery-white-color);
}
.page-portfolio{
border-bottom: 1px solid #ECECEC;}
.page-header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.page-header .page-link {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.page-header .page-link:hover {
  color: var(--accent-color);
  list-style: none;
}
/* Ефективное решение */
.effective-solutions {
  padding-top: 200px;
  padding-bottom: 200px;
  text-decoration: none;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: lowercase;
  background-color: var(--primery-section-color);
}
.effective-solutions .effective-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-decoration: none;
 

  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: var(--primery-white-color);
  letter-spacing: 0.06em;
}
.effective-solutions .effective-buttons {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
}

.peculiarities,
.work,
.team,
.button {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Особености */
.peculiarities {
  padding-bottom: 0;
}

.peculiarities-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
.peculiarities .peculiarities-text {
  margin-top: 0;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.peculiarities-list {
  display: flex;
}

.peculiarities-list .item {
  width: 270px;
}
.peculiarities-list :not(:last-child) {
  margin-right: 30px;
}

/* чем занимаються */
.photo {
  display: flex;
  padding-left: 0;
  
}
.work {
}
.work .work-title {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.photo-item {
  width: calc((100% - 60px) / 3);
}
.photo-item:not(:last-child) {
  margin-right: 30px;
}

/* наша команда */
.team {
  background-color: var(--pramary-bacground-color);
}
.team .team-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
.team .team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-text {
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item {
  background-color: var(--primery-white-color);
  width: calc((100%-90) / 4);
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4n) {
  margin-right: 0px;
}
.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Портфолио навигация */
.navigation {
  display: flex;
  justify-content: center;
}

.navigation .navigation-button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--promary-button-bacgriund-color);
  border-radius: 4px;
  border-style: unset;
}
.navigation-button:hover,
.navigation-button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.navigation-item:not(:last-child) {
  margin-right: 8px;
}

/* Портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-wap {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio .portfolio-title {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.875;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}
.portfolio .portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  color: var(--pramary-text-color);
  letter-spacing: 0.03em;
}
.portfolio .portfolio-link {
  text-decoration: none;
}
/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
  background-color: var(--primery-section-color);
}
.footer .logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--primery-white-color);
  letter-spacing: 0.03em;
}
.footer .address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-white-color);
  letter-spacing: 0.03em;
}
.footer .footer-contacts {
  display: block;
  margin-top: 9px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--promary-contact-color);
  letter-spacing: 0.03em;
}
.footer .footer-contacts:hover {
  color: var(--accent-color);
}
span {
  color: var(--accent-color);
}

}

}